@font-face { font-family: witcher; src: url('../font/witcher.ttf'); } 
*{
    font-family: 'Oswald', sans-serif;
}
body{
    text-align: center;
}
#tablon{
    position: absolute;
    top: 52.3%;
    background-image: url(../img/tablon.png);
    width: 260px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
        
}
#tablon:hover{
    position: absolute;
    top: 52.3%;
    background-image: url(../img/tablon_hover.png);
    width: 260px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
#jaskier{
    width: 30%;
    height: 50%;
    position: absolute;
    left: 45%;
    top: 30%
}
html { 
  background: url(../img/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title{
    color: white;
    text-shadow: 2px 2px grey;
    font-family: witcher, sans-serif;
}
button{
    background: none
}
#musicSW{
    position: absolute;
    top: 2%;
    left: 2%
}
#tabOpen{
    background:  url(../img/clasificacion.jpg) no-repeat center center fixed; 
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 99%;
}
#back1{
    position: absolute;
    width: 15%;
    top: 70%
}
#clasificacion{
    position: absolute;
    top: 30%;
    left: 28%;
    margin: auto;
    width: 40%;
    text-align: center;
}
#clasificación , table{
    width: 100%;
    font-size: 20pt;
    text-shadow: 1px 1px white;

}
.not_hidden{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
#zone2{
    text-align: left;
}
#zone2 , ul , li{
    text-align: left;
}