@font-face { font-family: witcher; src: url('../font/witcher.ttf'); } 
*{
    font-family: 'Oswald', sans-serif;
}
body{
    text-align: center;
}
#tablon{
    position: fixed;
    top: 52.3%;
    background-image: url(../img/tablon.png);
    width: 260px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
        
}

#tablon:hover{
    position: fixed;
    top: 52.3%;
    background-image: url(../img/tablon_hover.png);
    width: 260px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
#jaskier{
    background-image:  url("../img/jaskier.png");
    width: 20%;
    height: 50%;
    position: fixed;
    left: 45%;
    top: 39%;
    background-size: cover;
}
#jaskier:hover{
    background-image:  url("../img/jaskier_hover.png");
    width: 20%;
    height: 50%;
    position: fixed;
    left: 45%;
    top: 39%;
    background-size: cover;
}
#geralt{
    background-image:  url("../img/geralt.png");
    width: 10%;
    height: 24%;
    position: fixed;
    left: 22%;
    top: 45%;
    background-size: cover;
}
#geralt:hover{
    background-image:  url("../img/geralt_hover.png");
    width: 10%;
    height: 24%;
    position: fixed;
    left: 22%;
    top: 45%;
    background-size: cover;
}
#instructions{
    background:  url(../img/intro.jpg) no-repeat left bottom fixed; 
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 99%;    
}
#social{
    background:  url(../img/social.jpg); 
    background-size: cover;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 99%;    
}
#nameCK{
    width: 100%;
    text-align: center;
    background: rgba(200, 54, 54, 0); 
    border-bottom: solid 2px black;
}
html { 
  background: url(../img/back.jpg) no-repeat left bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title{
    color: white;
    text-shadow: 2px 2px grey;
    font-family: witcher, sans-serif;
}
#textoIntro{
    top: 4%;
    position: fixed;
    left: 61%;
    width: 26em;
    text-align: justify;
    text-shadow: 1px 1px white;
    font-size: 16pt;
}
#textoSocial{
    top: 4%;
    position: fixed;
    left: 60%;
    width: 25.5em;
    text-align: justify;
    text-shadow: 2px 2px white;
    font-size: 16pt;
}
#gameZone{
    background:  url(../img/gameZone2.jpg) no-repeat left bottom fixed;
    background-size: cover;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 99%;  
}
button{
    background: none
}
#musicSW{
    z-index: 10;
    position: absolute;
    top: 2%;
    left: 2%
}
#tabOpen{
    background:  url(../img/clasificacion.jpg) no-repeat left bottom fixed; 
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 99%;
}
#back1{
    position: fixed;
    width: 15%;
    top: 70%
}
#clasificacion{
    position: fixed;
    top: 30%;
    left: 28%;
    margin: auto;
    width: 40%;
    text-align: center;
}
#clasificación , table{
    width: 100%;
    font-size: 20pt;
    text-shadow: 1px 1px white;

}
.not_hidden{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
#zone2{
    text-align: left;
}
#zone2 , ul , li{
    text-align: left;
}
#questionZone{
    background:  url(../img/pergamino.png) no-repeat right 10% top fixed;
    background-size: contain;
    position: fixed;
    width: 50%;
    height: 99%;
    right:0%;
}
.cardTitle{
    text-align: justify;
    color: white;
    width: 64%;
    margin: auto;
    margin-top: 30%;
    font-size: 28pt;
    text-shadow: 4px 2px black;
}
#respuesta{
    margin-top: 20px;
    width: 50%;
    text-align: center;
}
#time{
    z-index: 30;
    position: absolute;
    width: 20%;
    bottom: 5%;
    left: 60%;
}
#clock_img{
    width: 10%
}
#clock_timer{
    text-align: left;
    text-shadow: 4px 2px white;
}
#exit_game{
    background:  url(../img/exit.png);
    background-size: 100%;
    position: absolute;
    z-index: 30;
    height: 10em;
    width: 10em;
    bottom: 5%;
    left: 80%
}
.socialButtons{
    text-align: center;
}
.socialButtons , a{
    color: black;
    text-decoration: none;
}